<!--Feedback-->
<section>
  <h2>What Clients Say</h2>
  <p>
    Problems trying to resolve the conflict between the two major realms of
    Classical physics: Newtonian mechanics
  </p>
  <ul>
    <li>
      <img src="./images/Group 204.svg" alt="stars" width="106" height="18" />
      <p>
        Product helps you see how many more days you need to work to reach your
        financial goal.
      </p>
      <img src="./images/Ellipse 2.png" alt="girl" width="50" />
      <h3>Wahid Ari</h3>
      <p>Designer</p>
    </li>
    <li>
      <img src="./images/Group 204.svg" alt="stars" width="106" height="18" />
      <p>
        Product helps you see how many more days you need to work to reach your
        financial goal.
      </p>
      <img src="./images/Ellipse 2-1.png" alt="boy" width="50" />
      <h3>Wahid Ari</h3>
      <p>Designer</p>
    </li>
    <li>
      <img src="./images/Group 204.svg" alt="stars" width="106" height="18" />
      <p>
        Product helps you see how many more days you need to work to reach your
        financial goal.
      </p>
      <img src="./images/Ellipse 2-2.png" alt="boy" width="50" />
      <h3>Wahid Ari</h3>
      <p>Designer</p>
    </li>
  </ul>
</section>
