<footer>
  <a href="index.html">
    <img src="./images/logo.svg" alt="logo" width="40" height="36" />
    Product
  </a>
  <a href=""><img src="./images/item-1.svg" alt="instagram" /></a
  ><a href=""><img src="./images/item-2.svg" alt="facebook" /></a
  ><a href=""><img src="./images/item-3.svg" alt="twitter" /></a>
  <h3>Resource</h3>
  <ul>
    <li><a href="">About Us</a></li>
    <li><a href="">Blog</a></li>
    <li><a href="">Contact</a></li>
    <li><a href="">FAQ</a></li>
  </ul>
  <h3>Legal Stuff</h3>
  <ul>
    <li><a href="">Disclaimer</a></li>
    <li><a href="">Financing</a></li>
    <li><a href="">Privacy Policy</a></li>
  </ul>
  <p>Made With Love By Figmaland All Right Reserved</p>
  <button type="submit">Sign up Now</button>
</footer>
